module.exports = {
    INSTALLED: {
        CLIENT_ID: 'client_id',
        PROJECT_ID: 'project_id',
        AUTH_URI: 'auth_uri',
        TOKEN_URI: 'token_uri',
        AUTH_PROVIDER_X509_CERT_URL: 'auth_provider_x509_cert_url',
        CLIENT_SECRET: 'client_secret',
        REDIRECT_URIS: [
            'redirect_uri_0',
            'redirect_uri_1'
        ]
    }
}